* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body.noFocus *:focus {
  outline: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.App h3:nth-of-type(2) {
  margin-top: 50px;
}
.App p {
  margin-bottom: 50px;
  font-size: 2.4rem;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}
.dd-selectedItem {
  display: inline-block;
  font-size: 1rem;
  border-radius: 5%;
  background-color: #01aaff;
  color: #ffffff;
  margin: 1px 1px 1px 1px;
  text-align: center;
}
.dd-wrapper {
  position: relative;
  width: 222px;
  font-size: 1.6rem;
  user-select: none; }
  .dd-wrapper .dd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background-color: white;
    line-height: 38px;
    cursor: default;
    cursor: pointer; }
    .dd-wrapper .dd-header span {
      display: flex;
      margin-right: 20px; }
  .dd-wrapper .dd-header-title {
    margin: 2px 2px;
    margin-right: 2px;
    font-weight: 300; }
  .dd-wrapper .angle-down {
    margin-right: 20px;
    color: black; }
  .dd-wrapper .dd-list {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 215px;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 5px -1px #e8e8e8;
    background-color: white;
    font-weight: 700;
    text-align: left;
    -webkit-overflow-scrolling: touch; }
    .dd-wrapper .dd-list .dd-scroll-list {
      overflow-y: scroll;
      max-height: 215px;
      padding: 15px 0; }
      .dd-wrapper .dd-list .dd-scroll-list .dd-list-item {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        padding: 8px 10px;
        font-size: 1.5rem;
        line-height: 1.6rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
        cursor: pointer; }
        .dd-wrapper .dd-list .dd-scroll-list .dd-list-item.no-result {
          font-weight: normal;
          cursor: default; }
          .dd-wrapper .dd-list .dd-scroll-list .dd-list-item.no-result:hover {
            background-color: transparent;
            color: black; }
        .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover {
          background-color: #01aaff;
          color: white; }
          .dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover > span > svg > path {
            fill: white; }
    .dd-wrapper .dd-list .dd-list-search-bar {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: none;
      border-bottom: 1px solid #DFDFDF;
      font-size: inherit; }
      .dd-wrapper .dd-list .dd-list-search-bar::placeholder {
        color: #c8c8c8; }
    .dd-wrapper .dd-list.searchable {
      overflow-y: hidden;
      padding: 0; }
      .dd-wrapper .dd-list.searchable .dd-scroll-list {
        max-height: calc(215px - 40px);
        padding: 10px 0; }

        .dd-wrapper button {
          overflow: visible;
          width: inherit;
          margin: inherit;
          padding: inherit;
          border: none;
          background: inherit;
          font: inherit;
          line-height: normal;
          color: inherit;
          text-align: inherit;
          -webkit-appearance: none; }
        
        .dd-wrapper ul, .dd-wrapper li {
          margin: 0;
          padding: 0;
          list-style: none; }
        
        .dd-wrapper p {
          margin: 0;
          padding: 0; }
        
        .dd-wrapper * {
          box-sizing: border-box;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility; 
        }
        